<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB_od4d1xbYHieZjLP4-IETVBL2ysANjo</string>
	<key>GCM_SENDER_ID</key>
	<string>822583769696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junytony.balletstar</string>
	<key>PROJECT_ID</key>
	<string>junytony-ballet-star</string>
	<key>STORAGE_BUCKET</key>
	<string>junytony-ballet-star.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822583769696:ios:01c00de6869f8cb6ae2105</string>
</dict>
</plist>